*.exe
*.bin
*.app
hashcat.pot
obj/*/*.o
obj/*.o
release/*
deps/*
deps/**

*.in
*.m4
#*.guess
#*.sub
*.cache
config.*
compile
configure
depcomp
install-sh
missing
Makefile
stamp-h1
.deps
src/*.o
src/hashcat
src/rules-debug
