Package: hashcat
Version: 2.0.1-1
Architecture: amd64
Maintainer: Gabriele Gristina <matrix@hashcat.net>
Depends: libgmp-dev
Section: admin
Priority: optional
Homepage: https://hashcat.net/hashcat/
Vcs-Git: git://github.com/hashcat/hashcat.git
Vcs-Browser: https://github.com/hashcat/hashcat
Description: hashcat - Advanced CPU-based password recovery utility
